{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Change password{% endblock %}
{% block body %}
<div class="auth-wrap">
  <div class="auth-box">
    <div class="auth-head">
      <img class="logo" src="{% static 'accounts/nic-logo.png' %}" alt="National Informatics Centre" height="60">
      {% if user.must_change_password %}
      <div class="t">Set a new password</div>
      <div class="s">This is your first sign-in. Setting a password activates your account.</div>
      {% else %}
      <div class="t">Change password</div>
      {% endif %}
    </div>
    {{ form.non_field_errors }}
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}<div class="helptext">{{ field.help_text }}</div>{% endif %}
      {{ field.errors }}
      {% endfor %}
      <button type="submit" class="btn btn-block">Save password</button>
    </form>
  </div>
</div>
{% endblock %}
